*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/
/gradlew
/gradlew.bat
build/
local.properties
gradle.properties
app/release/
app/class_files.txt
*.DS_Store
